.header_outer_container {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(20, 20, 20);
  height: 10vh;
  color: white;
  transition: all 0.5s;
  transition-timing-function: ease-in;
  z-index: 1;
  font-size: 0.9rem;
}

.header_container {
  width: 90%;
  display: flex;
  justify-content: space-between; /*ወደ ጎን*/
  align-items: center; /*ከላይ ወደታች*/
}
.header_left ul {
  font-family: Sans, Helvetica Neue, sans-serif;
  width: 130%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  cursor: pointer;
}
.header_left ul :hover {
  color: grey;
  opacity: 0.8;
}
.header_right ul {
  width: 150%;
  display: flex;
  justify-content: space-between;
  list-style: none;
  cursor: pointer;
}
